@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --clr-primary: #3498db;  /* Azul Primario */
    --clr-secondary: #2ecc71; /* Verde Secundario */
    --clr-light: #ecf0f1;     /* Fondo claro */
    --clr-dark: #2c3e50;      /* Texto oscuro */
    --clr-danger: #e74c3c;    /* Rojo de peligro */
    --clr-gray: #bdc3c7;      /* Gris suave */
    --border-radius: 0.5rem;   /* Radio de borde */
    --transition: 0.3s ease;   /* Transición suave */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-light);
    height: 100vh;
}

aside {
    padding: 2rem;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--clr-light);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-light);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 1rem;
    transition: background-color var(--transition), color var(--transition);
}

.boton-menu:hover {
    background-color: var(--clr-secondary);
    color: var(--clr-light);
}

.boton-menu.active {
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    border-radius: var(--border-radius);
}

.boton-carrito {
    margin-top: 2rem;
}

.numero {
    background-color: var(--clr-light);
    color: var(--clr-primary);
    padding: 0.25rem 0.5rem;
    border-radius: var(--border-radius);
}

.boton-carrito.active .numero {
    background-color: var(--clr-primary);
    color: var(--clr-light);
}

.texto-footer {
    color: var(--clr-primary);
    font-size: 0.85rem;
}

main {
    background-color: var(--clr-light);
    margin: 1rem;
    border-radius: var(--border-radius);
    padding: 2rem; /* Ajustado para un espaciado más uniforme */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo-principal {
    color: var(--clr-dark);
    margin-bottom: 2rem;
    font-weight: 700;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.producto-imagen {
    width: 100%; /* Asegura que la imagen ocupe el ancho del contenedor */
    max-height: 150px; /* Establece una altura máxima para las imágenes */
    object-fit: cover; /* Asegura que la imagen mantenga su proporción */
    border-radius: var(--border-radius); /* Añade esquinas redondeadas */
    border: 2px solid var(--clr-gray); /* Añade un borde a las imágenes */
    transition: transform var(--transition); /* Añade transición al hover */
}

.producto-imagen:hover {
    transform: scale(1.05); /* Efecto de aumento en hover */
}

.producto-detalles {
    background-color: var(--clr-primary);
    color: var(--clr-light);
    padding: 1rem;
    border-radius: var(--border-radius);
    position: relative;
}

.producto-titulo {
    font-size: 1.1rem;
    font-weight: 600;
}

.producto-agregar {
    border: 0;
    background-color: var(--clr-light);
    color: var(--clr-primary);
    padding: 0.5rem;
    text-transform: uppercase;
    border-radius: var(--border-radius);
    cursor: pointer;
    border: 2px solid var(--clr-primary);
    transition: background-color var(--transition), color var(--transition);
}

.producto-agregar:hover {
    background-color: var(--clr-primary);
    color: var(--clr-light);
}

/** CARRITO **/

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: var(--clr-primary);
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-gray);
    color: var(--clr-dark);
    padding: 1rem;
    border-radius: var(--border-radius);
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: var(--border-radius);
}

.carrito-producto small {
    font-size: 0.75rem;
    color: var(--clr-dark);
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-danger);
    cursor: pointer;
    transition: color var(--transition);
}

.carrito-producto-eliminar:hover {
    color: var(--clr-dark);
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: var(--border-radius);
    color: var(--clr-primary);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-primary);
    padding: 1rem;
    color: var(--clr-light);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: var(--border-radius);
    gap: 1rem;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: var(--border-radius);
    color: var(--clr-dark);
    text-transform: uppercase;
}

.disabled {
    display: none;
}
